
 
<link href="https://www.adalab.cn/admission.css" rel="stylesheet">
<link href="style.css" rel="stylesheet">
a {
  color: red;
}
body{flex-dire}

body
{background-color:#00ff80;}
h1
{background-color:#00ff00;}
p
{background-color:rgb(255,0,255);}
main{
display: flex
}
heaedr { 
  justify-content: flex-start;          
}
aside {
  justify-content: flex-start;
  flex : 1;
  align-items: center
   background-color:black;
}
article{
  justify-content: center;
  flex:3;
  align-items: center
      }
footer {
  justify-content: flex-start;
  align-items: flex-end
}

